@using Contracts;
@using Contracts.Blog;

@model ResultSet<PostSummary>

@{ Layout = "_Layout"; }
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@section links {
    @if (Model.PageIndex == 1)
    {
        <link rel="prev" href="https://peinearydevelopment.com/blog/index">
    }
    else if (Model.HasPreviousPage)
    {
        <link rel="prev" href="https://peinearydevelopment.com/blog/index/@(Model.PageIndex - 1)">
    }

    @if (Model.IsOnFirstPage)
    {
        <link rel="canonical" href="https://peinearydevelopment.com/blog/index">
    }
    else
    {
        <link rel="canonical" href="https://peinearydevelopment.com/blog/index/@Model.PageIndex">
    }

    @if (Model.HasNextPage)
    {
        <link rel="next" href="http://peinearydevelopment.com/page/blog/index/@(Model.PageIndex + 1)">

    }
}

@if (Model.PageIndex > 0)
{
    @Html.Partial("_Pager")
}


<div class="container center">
    <ul class="posts-summaries column left">
        @foreach (var postSummary in Model.Results)
        {
            <li class="post-summary">
                <a asp-controller="Blog" asp-action="Post" asp-route-id=@postSummary.Slug>
                    <h3 class="post-title">@postSummary.Title</h3>
                    <p class="post-snippet">@postSummary.ContentSummary<span class="ellipsis">...</span></p>
                </a>
                <div class="row">
                    <div class="tags row half-width">
                        @foreach (var tag in postSummary.Tags)
                        {
                            <span class="tag">@tag.Name</span>
                        }
                    </div>
                    @Html.Partial("_PostedOn", postSummary)
                </div>
            </li>
        }
    </ul>
</div>

@Html.Partial("_Pager")