@using Contracts
@using Contracts.Blog

@model ResultSet<PostSummary>

@{ Layout = "_Layout"; }

@if (Model.PageIndex > 0)
{
    @Html.Partial("_Pager")
}


<div class="container center">
    <ul class="posts-summaries column left">
        @foreach (var postSummary in Model.Results)
        {
            <li class="post-summary">
                <h3 class="post-title">@postSummary.Title</h3>
                <p class="post-snippet">@postSummary.ContentSummary<span class="ellipsis">...</span></p>
                <div class="row">
                    <div class="tags row half-width">
                        @foreach (var tag in postSummary.Tags)
                        {
                            <span class="tag">@tag.Name</span>
                        }
                    </div>
                    <div class="date row half-width right">
                        <span class="day">@postSummary.PostedOn.Day</span>
                        <span class="month">@postSummary.PostedOn.Month</span>
                        <span class="year">'@(postSummary.PostedOn.Year % 100)</span>
                    </div>
                </div>
            </li>
        }
    </ul>
</div>

@Html.Partial("_Pager")